/v2/Lib/site-packages
/Taiko-switch
/v1/song_to_wav/training filder
/Trans/data
/taiko_simulation
/data/oni
/data/split_ogg
/data/STFT_Image
/data/Taiko-switch
/data/Mel_Image
/data/OsuMel_Image
/data/OsuSTFT_Image
/paper/picture
/v3/src/models
/v2/Lib
/v2/Scripts
/v2
/TaikoNationV1-main
/~